scripts/modules/__pycache__/

\.vscode/
scripts/test.py
scripts/modules/__init__.pyc
scripts/modules/printText.pyc
scripts/test.c
scripts/a.out
scripts/PythonClient/carla/__pycache__/
carla_joystick/
scripts/modules/SystemController.pyc
